<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{ site.baseurl }}">

<title>{%if page.id == "home" %}{{ site.name }}{% else %}{{ page.title }} - {{ site.name }}{% endif %}</title>

<!-- build:css({app,.tmp}) styles/style.css -->
<!-- Custom CSS -->
<link rel="stylesheet" href="styles/style.css">
<!-- endbuild -->

</head>
<body {%if page.id %}id="{{ page.id }}"{% endif %}>

{{ content }}

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-6">
        <aside class="footer-content">
          <p>
            <small>MetaRefresh 2014.</small>
          </p>
        </aside>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-6 align-right-if-wide">
        <p>
          <small><a href="//metarefresh.in/2014/workshops#952-the-design-superheroes-who-uses-modern-design-work">The Design Superheroes who uses Modern Design Workflows.</a></small>
        </p>
      </div>
    </div>
  </div>
</footer>

<aside class="github-fork">
  <a href="//github.com/brajeshwar/metarefresh-2014-workshop">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
  </a>
</aside>

<!-- build:js(app) scripts/scripts.js -->
<script src="scripts/jquery-2.0.3.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->

<!-- Shareaholic -->
<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '18d8b6c89889ea604357b0a720b77c50';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

</body>
</html>