.splash {
  $height: 300px;

  @include background-size(cover);
  @extend .jumbotron;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: $screen-xs-max) {
    min-height: $height;
    background-image: url('#{$path-image}/hero-sm.jpg');
  }
  @media (min-width: $screen-xs-max) and (max-width: $screen-md-max) {
    min-height: $height + $height*40/100;
    background-image: url('#{$path-image}/hero-md.jpg');
  }
  @media (min-width: $screen-lg-min) {
    min-height: $height + $height*60/100;
    background-image: url('#{$path-image}/hero-lg.jpg');
  }
}

#masthead {
  color: $gray-lighter;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
}