<header id="header" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <nav class="navbar navbar-default nav-main" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand site-title" href="{{ site.baseurl }}">MetaRefresh (2014)</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#tools">Tools</a></li>
            <li><a href="#tools">Examples</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>